<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>	<!-- 配置VO类的别名操作，以简化映射文件的类型编写 -->
		<package name="cn.mldn.shiro.vo"/>
	</typeAliases>
</configuration>